@keyframes arrow__on {
  from {
    filter: invert(0) sepia(0) saturate(0) hue-rotate(0);
  }
  to {
    filter: invert(25%) sepia(100%) saturate(1000%) hue-rotate(330deg);
  }
}
@keyframes arrow__off {
  from {
    filter: invert(25%) sepia(100%) saturate(1000%) hue-rotate(330deg);
  }
  to {
    filter: invert(0) sepia(0) saturate(0) hue-rotate(0);
  }
}

.button {
  @include button-text;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: $red;
  transition: all 0.15s linear;

  @include button-action;
}

.experience__card {
  .card__title {
    h3 {
      margin: 0;
    }
    a {
      @include md-text;
      display: flex;
      align-items: baseline;

      span {
        margin: 0 0 0 15px;
      }

      &:hover {
        .arrow__image {
          animation: arrow__on ease-in 0.2s;
          filter: invert(20%) sepia(73%) saturate(6322%) hue-rotate(345deg)
            brightness(101%) contrast(87%);
        }
      }

      .arrow__image {
        margin-left: 5px;
        animation: arrow__off ease-out 0.2s;
        filter: invert(0) sepia(0) saturate(0) hue-rotate(0);
      }
    }
  }

  .card__text {
    max-width: 90%;
  }
}

.project__card {
  background-color: $grey;
  border-radius: 10px;
  width: 40%;
  max-height: 550px;
  min-height: 550px;
  padding: 30px 20px 10px 20px;
  transition: all 0.15s linear;

  @include button-action;

  &--more {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 60px;

    &:hover {
      box-shadow: none;
      transform: translateY(0);
      cursor: default;
    }
    span {
      @include lg-text;
      width: 80%;
    }
    a {
      width: 30%;
      text-align: center;
    }
  }

  &--horizontal {
    width: 100%;
    max-height: initial;
    min-height: initial;
    height: 400px;
    padding: 30px 20px;
    transform: translateY(0);

    &:nth-last-child(n + 2) {
      margin-bottom: 2rem;
    }

    &:nth-child(2n) {
      .card__body {
        flex-direction: row-reverse;

        .col__text {
          padding-right: 3rem;
        }
      }
    }
    &:nth-child(2n + 1) {
      .col__text {
        padding-left: 3rem;
      }
    }

    .card__body {
      display: flex;
      justify-content: space-around;
      height: 100%;

      .project__info {
        margin-bottom: 1rem;
      }
    }

    .col__text {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      h2 {
        margin: 0;
      }

      a {
        width: 130px;
        text-align: center;
      }
    }

    &:hover {
      box-shadow: none;
      transform: translateY(0);
      cursor: default;
    }
  }

  .card__header {
    width: 400px;
    margin: auto;
    margin-bottom: 2rem;
  }
  .card__body {
    .text {
      width: 400px;
      margin: auto;
    }
    .preview {
      display: grid;
      margin-top: 2.5rem;
    }
  }
}

.tag__content {
  border-radius: 10px;
  padding: 0px 10px;
  background-color: rgba($black, 0.3);
  margin-right: 5px;

  p {
    color: $grey;
    font-weight: 500;
    font-size: 14px;
    margin: 2px 0;
    user-select: none;
  }
}
