@keyframes arrow__on {
  from {
    filter: invert(0) sepia(0) saturate(0) hue-rotate(0);
  }
  to {
    filter: invert(25%) sepia(100%) saturate(1000%) hue-rotate(330deg);
  }
}
@keyframes arrow__off {
  from {
    filter: invert(25%) sepia(100%) saturate(1000%) hue-rotate(330deg);
  }
  to {
    filter: invert(0) sepia(0) saturate(0) hue-rotate(0);
  }
}
@keyframes loading__high {
  from {
    width: 15%;
  }
  to {
    width: 20%;
  }
}
@keyframes loading__mid {
  from {
    width: 9%;
  }
  to {
    width: 13%;
  }
}
@keyframes loading__low {
  from {
    width: 4%;
  }
  to {
    width: 7%;
  }
}

.button {
  @include button-text;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: $red;
  transition: all 0.15s linear;

  @include button-action;
}

.experience__card {
  .card__title {
    h3 {
      margin: 0;
    }
    a {
      @include md-text;
      display: flex;
      align-items: baseline;

      span {
        margin: 0 0 0 15px;
        @include respond-to(handhelds) {
          margin: 0;
        }
      }

      &:hover {
        .arrow__image {
          animation: arrow__on ease-in 0.2s;
          filter: invert(20%) sepia(73%) saturate(6322%) hue-rotate(345deg)
            brightness(101%) contrast(87%);
        }
      }

      .arrow__image {
        margin-left: 5px;
        animation: arrow__off ease-out 0.2s;
        filter: invert(0) sepia(0) saturate(0) hue-rotate(0);

        @include respond-to(handhelds) {
          position: absolute;
          right: -1.5rem;
          top: 0;
        }
      }

      @include respond-to(handhelds) {
        display: grid;
        position: relative;
      }
    }
  }

  .card__text {
    max-width: 98%;
  }
}

.project__card {
  background-color: $grey;
  border-radius: 10px;
  width: 40%;
  max-height: 550px;
  min-height: 550px;
  padding: 30px 20px 10px 20px;
  transition: all 0.15s linear;

  @include button-action;

  &--more {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 60px;

    &:hover {
      box-shadow: none;
      transform: translateY(0);
      cursor: default;
    }
    span {
      @include lg-text;
      width: 80%;

      @include respond-to(handhelds) {
        font-size: 50px;
        margin-bottom: 1rem;
        width: 100%;
      }
    }
    a {
      width: 30%;
      text-align: center;
      @include respond-to(handhelds) {
        width: 120px;
      }
    }

    @include respond-to(handhelds) {
      padding: 30px 20px 10px 20px;
    }
  }

  .card__header {
    width: 400px;
    margin: auto;
    margin-bottom: 2rem;

    @include respond-to(handhelds) {
      width: 100%;
    }
  }
  .card__body {
    .text {
      width: 400px;
      min-height: 125px;
      max-height: 125px;
      margin: auto;

      @include respond-to(handhelds) {
        width: 100%;
        min-height: initial;
        max-height: initial;
      }
    }
    .preview {
      display: grid;
      margin-top: 2.5rem;
    }
  }

  @include respond-to(handhelds) {
    width: 100%;
    max-height: 600px;
    min-height: initial;

    &:nth-last-child(n + 2) {
      margin-bottom: 3rem;
    }
  }

  &--horizontal {
    width: 100%;
    max-height: initial;
    min-height: initial;
    height: 400px;
    padding: 30px 20px;
    transform: translateY(0);

    &:nth-last-child(n + 2) {
      margin-bottom: 2rem;
    }

    &:nth-child(2n) {
      .card__body {
        flex-direction: row-reverse;

        .col__text {
          padding-right: 3rem;

          @include respond-to(handhelds) {
            padding-right: 0;
          }
        }
      }
    }
    &:nth-child(2n + 1) {
      .col__text {
        padding-left: 3rem;
        @include respond-to(handhelds) {
          padding-left: 0;
        }
      }
    }

    .card__body {
      display: flex;
      justify-content: space-around;
      height: 100%;

      .project__info {
        margin-bottom: 1rem;
      }

      @include respond-to(handhelds) {
        display: grid;
      }
    }

    .col__text {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      h2 {
        margin: 0;
      }

      a {
        width: 130px;
        text-align: center;
        @include respond-to(handhelds) {
          margin: auto;
        }
      }
    }

    &:hover {
      box-shadow: none;
      transform: translateY(0);
      cursor: default;
    }

    @include respond-to(handhelds) {
      height: 100%;
      max-height: initial;
    }
  }
}

.tag__content {
  border-radius: 10px;
  padding: 0px 10px;
  background-color: rgba($black, 0.3);
  margin-right: 5px;

  p {
    color: $grey;
    font-weight: 500;
    font-size: 14px;
    margin: 2px 0;
    user-select: none;
  }
}

.loader__content {
  .loader__opacity {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $red;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
    transition: all 0.4s ease;
    animation-direction: alternate;

    &--high {
      opacity: 20%;
      width: 15%;
      animation-name: loading__high;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
    &--mid {
      opacity: 25%;
      width: 10%;
      animation-name: loading__mid;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
    &--low {
      opacity: 30%;
      width: 5%;
      animation-name: loading__low;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
  }
}
