#experience {
  background-color: $white;
  padding: 3rem 0;
  .section__header {
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  .experience__col {
    .experience__card {
      &:nth-last-child(n + 2) {
        margin-bottom: 2rem;
      }
    }
  }
  .education__col {
    .experience__card {
      &:nth-last-child(n + 2) {
        margin-bottom: 2rem;
      }
    }
  }
}
