#experience__content {
  background-color: $white;
  padding: 3rem 0;
  .experience__header,
  .education__header {
    display: flex;
    align-items: baseline;
    margin-bottom: 2rem;
  }
  .experience__col {
    .experience__card {
      &:nth-last-child(n + 2) {
        margin-bottom: 2rem;
      }
    }
  }
  .education__col {
    .experience__card {
      &:nth-last-child(n + 2) {
        margin-bottom: 2rem;
      }
    }
  }
}
