footer {
  .section__header {
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  .footer__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      width: 350px;
      margin: auto;
      text-align: center;
      margin-bottom: 2rem;
    }

    a {
      width: 130px;
      text-align: center;
    }
  }
}
