footer {
  padding: 3rem 0 0 0;
  background-color: $grey;
  .section__header {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .footer__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      width: 350px;
      margin: auto;
      text-align: center;
      margin-bottom: 2rem;

      @include respond-to(handhelds) {
        width: 100%;
      }
    }

    a {
      width: 130px;
      text-align: center;
      margin-bottom: 0.5rem;
    }
  }
  @include respond-to(handhelds) {
    padding: 3rem 0 2rem 0;
  }
}
