.navbar__container {
  justify-content: space-between;
  display: flex;
  padding: 1.5rem 0;

  .navbar__link {
    @include link;
    margin-right: 2rem;
  }

  .col__network {
    a {
      filter: invert(20%) sepia(73%) saturate(6322%) hue-rotate(345deg)
        brightness(101%) contrast(87%);

      &:nth-last-child(n + 2) {
        margin-right: 1.5rem;
      }
    }
  }

  .col__nav {
    .navbar__list {
      text-align: right;
    }
  }

  &--footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .navbar__link {
      @include link;
      margin: 0 1rem;
    }
  }
}
