#project {
  background-color: $white;
  padding: 3rem 0;

  .section__header {
    justify-content: center;
    margin-bottom: 3rem;
  }

  .project__body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .project__card {
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 3rem;
      }
    }
  }
}
