#skill {
  padding: 3rem 0 6rem 0;

  .section__header {
    margin-bottom: 3rem;
  }

  .skill__body {
    .skill__col {
      display: flex;
      justify-content: center;
      align-items: center;

      &:nth-last-child(n + 2) {
        margin-bottom: 3rem;
      }

      & > div {
        margin: 0 2rem !important;
      }
    }
  }
}
