#skill {
  padding: 3rem 0 6rem 0;

  .section__header {
    justify-content: center;
    margin-bottom: 3rem;
  }

  .skill__body {
    .skill__col {
      display: flex;
      justify-content: center;
      align-items: center;

      &:nth-last-child(n + 2) {
        margin-bottom: 3rem;
      }

      & > span {
        margin: 0 2rem !important;
        @include respond-to(handhelds) {
          margin: 10px !important;
        }
      }

      @include respond-to(handhelds) {
        flex-wrap: wrap;
      }
    }
  }
}
