#skill {
  padding: 3rem 0 6rem 0;

  .section__header {
    justify-content: center;
    margin-bottom: 3rem;
  }

  .skill__body {
    width: 75%;
    margin: auto;

    .skill__col {
      display: flex;
      justify-content: space-around;
      align-items: center;

      &:nth-last-child(n + 2) {
        margin-bottom: 3rem;
      }

      @include respond-to(handhelds) {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
      }
    }

    @include respond-to(handhelds) {
      width: 100%;
    }
  }
}
