@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;600;700;800&display=swap");

/* MIXIN */
@mixin link {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: $text;
  cursor: pointer;
  transition: color 0.2s ease;
  &:hover {
    color: $red;
  }
}
@mixin button-text {
  font-family: "Poppins", sans-serif;
  color: $white;
  font-weight: 600;
  font-size: 16px;
}
@mixin title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 59px;
  color: $title;
}
@mixin subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: $title;
}
@mixin lg-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 72px;
  color: $title;
}
@mixin md-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: $title;
}
@mixin sm-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: $text;
}
@mixin button-action {
  &:hover {
    box-shadow: 0px 10px 10px 0px $shadow;
    transform: translateY(-1px);
    cursor: pointer;
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0 10px 0 $shadow;
  }
}

@keyframes openToTop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes closeToTop {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes openPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* IMPORT FILE*/
@import "./colors";
@import "./screen";
@import "./components";
@import "./header";
@import "./launchSection";
@import "./experienceSection";
@import "./skillSection";
@import "./projectScreen";
@import "./projectSection";
@import "./errorScreen";
@import "./footer";

/* GLOBAL */
::selection {
  background-color: rgba($black, 0.6);
  color: $grey;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
h1,
h2 {
  @include title;
  margin: 0 0 0 10px;
}
h3 {
  @include subtitle;
  margin: 0.5rem 0 5px 0;
}
h4 {
  @include md-text;
  margin: 10px 0;
}
p {
  @include sm-text;
  text-align: justify;
  margin: 10px 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.emoji {
  font-size: 60px;
  @include respond-to(handhelds) {
    text-align: center;
  }
}
.container {
  max-width: 1280px;
  margin: auto;
  @include respond-to(handhelds) {
    padding: 0 2rem;
  }
}
.page__container {
  animation: openPage linear 0.4s;
  background-color: $grey;
  position: relative;
  min-height: 100vh;
  // padding: 0 2rem;

  .home__content {
    animation: openPage linear 0.4s;
  }

  .scroll__content {
    position: fixed;
    right: 50px;
    bottom: 65px;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
    }

    &--on {
      animation: openToTop linear 0.4s;
    }
    &--off {
      bottom: -100px;
      animation: closeToTop linear 0.2s;
    }
    @include respond-to(handhelds) {
      display: none;
    }
  }
}
.row__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.col__2 {
  width: 45%;
  @include respond-to(handhelds) {
    width: 100%;
  }
}
.col__3 {
  width: calc((100% / 3) - 10px);
  @include respond-to(handhelds) {
    width: 100%;
  }
}
.section__header {
  display: flex;
  align-items: center;
  @include respond-to(handhelds) {
    display: grid;
  }

  @include respond-to(handhelds) {
    h1,
    h2 {
      margin: 0;
      text-align: center;
    }
  }
}
.button__back {
  @include link;
}
.desktop__content {
  display: initial;
  @include respond-to(handhelds) {
    display: none;
  }
}
.mobile__content {
  display: none;
  @include respond-to(handhelds) {
    display: initial;
  }
}
